
<div class="card">
    <div class="body">
      <span class="title">{{ post.title }}</span>
      <p class="text">{{ post.body }}</p>
      <div class="footer">
        <div (click)="toggleComments()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <g id="SVGRepo_bgCarrier"></g>
            <g id="SVGRepo_tracerCarrier"></g>
            <g id="SVGRepo_iconCarrier">
              <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" d="M16 10H16.01M12 10H12.01M8 10H8.01M3 10C3 4.64706 5.11765 3 12 3C18.8824 3 21 4.64706 21 10C21 15.3529 18.8824 17 12 17C11.6592 17 11.3301 16.996 11.0124 16.9876L7 21V16.4939C4.0328 15.6692 3 13.7383 3 10Z"></path>
            </g>
          </svg>
          {{comments.length}}
        </div>
        <p>id user:{{post.user_id}}</p>
        <p>id post:{{post.id}}</p>
      </div>
      <div class="comments-section" *ngIf="commentsVisible">
        <div class="comments" *ngFor="let comment of comments">
          <app-comment [comment]="comment"></app-comment>
        </div>
        <button (click)="apriForm()" *ngIf="!onOff" class="button">Commenta</button>
        <div  class="form-container" *ngIf="onOff">
          <form class="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="input-field" type="text" id="name" [(ngModel)]="comment.name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="input-field" type="email" id="email" [(ngModel)]="comment.email" name="email" required>
            </div>
            <div class="form-group">
              <label for="textarea">Scrivi qui il tuo commento</label>
              <textarea class="input-field" name="textarea" id="textarea" rows="10" cols="50" required="" [(ngModel)]="comment.body">          </textarea>
            </div>
            <div class="btn-container"><button class="bottone" type="submit">Invia</button></div>
          </form>
        </div>
      </div>
      
    </div>
  </div>