<div style="display: flex; justify-content: center;">
    <a *ngIf="user" class="card" routerLink="/user/{{user.id}}">
        <div class="User">
        <div class="status" [ngClass]="{'cerchioOnline' : isOnline(user.status), 'cerchioOffline':!isOnline(user.status)}"  ></div>
        <p class="Username">{{user.name}}</p>
        
        
        <svg *ngIf="user.gender=='male', else BloccoElse"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 50 90"
        class="smallsvg malesmallsvg"
      >
        <circle
          stroke-width="6"
          stroke="#76E3FE"
          r="22"
          cy="25"
          cx="25"
        ></circle>
        <path
          stroke-linecap="round"
          stroke-width="6"
          stroke="#76E3FE"
          d="M25 47L25 87"
        ></path>
        <path
          stroke-linecap="round"
          stroke-width="6"
          stroke="#76E3FE"
          d="M25 86.6958L38.6958 73"
        ></path>
        <path
          stroke-linecap="round"
          stroke-width="6"
          stroke="#76E3FE"
          d="M11 73L24.6958 86.6958"
        ></path></svg>
        </div>
        <ng-template #BloccoElse><label class="female" for="female">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 50 90"
              class="smallsvg"
            >
              <circle
                stroke-width="6"
                stroke="#F57CB3"
                r="22"
                cy="25"
                cx="25"
              ></circle>
              <path
                stroke-linecap="round"
                stroke-width="6"
                stroke="#F57CB3"
                d="M25 47L25 87"
              ></path>
              <path
                stroke-linecap="round"
                stroke-width="6"
                stroke="#F57CB3"
                d="M12 73H38"
              ></path></svg>
          </label></ng-template>
          <p class="id"> ID: {{user.id}}</p>
        </a>
    </div>